@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nova-black: #050505;
  --nova-purple: #2D00F7;
  --nova-pink: #F20089;
  --nova-cyan: #4CC9F0;
  --nova-acid: #CCFF00;
}

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--nova-black);
  color: white;
}
